@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

html{
    margin: 0px;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* html */

.header{
    padding: 20px 0px;
}

.header .header__container .header__content{
    justify-content: space-between;
}

.header .header__container .header__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header .header__container .header__content a h1{
    font-size: 30px;
    color: #000;
}

.header .header__container .header__content a h1 span{
    color: #f71735;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
}

.header .header__container .header__content .header__menu ul li{
    margin: 0 15px;
    font-weight: 600;
    font-size: 17px;
}

.header .header__container .header__content .header__icon{
    align-items: center;
    display: flex;
}

.header .header__container .header__content .header__icon .fa-search{
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    transition: 0.3s linear;
    cursor: pointer;
}

.header .header__container .header__content .header__icon .fa-search:hover{
    background-color: #f71735;
    color: #fff;
}

.header .header__container .header__content .header__icon .dow{
    padding: 15px 30px;
    background-color: #f71735;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    margin: 0 30px;
}

/* html */

/* banner */
.banner{
    padding: 48px 0;
    background-image: url(./img/1\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.726);
    z-index: -1;
}

.banner .banner__container{
    padding: 48px 0;
    max-width: 800px;
}

.banner .banner__container .banner__content{
    text-align: center;
    color: #fff;
}

.banner .banner__container .banner__content .fa-camera{
    font-size: 40px;
}

.banner .banner__container .banner__content h3{
    font-size: 45px;
    margin: 20px 0;
}

.banner .banner__container .banner__content .banner__input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner .banner__container .banner__content .banner__input input{
    height: 55px;
    padding: 0 30px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 50%;
}

.banner .banner__container .banner__content .banner__input button{
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 20%;
    background-color: #f71735;
    font-size: 20px;
    color: #fff;
}

/* banner */

/* image */
.image{
    padding: 48px 0;
}

.image .image__container{
    padding: 48px 0;
}

.image .image__container .image__content{
    margin-bottom: 48px;
}

.image .image__container .image__content ul{
    display: flex;
    justify-content: center;
    list-style: initial;
    flex-wrap: wrap;
}

.image .image__container .image__content ul li{
    margin: 0 20px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.image .image__container .image__content ul li:hover{
    color: #f71735;
}

.image .image__container .image__content ul li:first-child{
    list-style: none;
    color: #f71735;
}

.image .image__container .image__all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.image .image__container .image__all img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.img{
    width: auto;
    height: 350px;
    object-fit: cover;
}

.image .image__container .image__all .image__img{
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}

.image .image__container .image__all .image__img .image__backgroud{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;
    width: 100%;
    height: 100%;
}

.image .image__container .image__all .image__img:hover .image__backgroud{
    opacity: 1;
}

.image .image__container .image__all .image__img p{
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    transition: all 0.3s linear;
}


.image .image__container .image__all .image__img:hover p{
    top: 50%;
    opacity: 1;
}


/* image */

/* what */

.what{
    padding: 48px 0;
    background-color: #f7f7f7;
}

.what .what__conatiner{
    padding: 48px 0;
}

.what .what__conatiner .what__content{
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

.what .what__conatiner .what__content h4{
    font-size: 14px;
    color: rgb(172, 170, 170);
    font-weight: 500;
}

.what .what__conatiner .what__content h3{
    font-size: 40px;
    margin: 20px 0;
}

.what .what__conatiner .what__content .imgs{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.what .what__conatiner .what__content p{
    font-size: 19px;
    line-height: 30px;
    margin: 20px 0;
}


.what .what__conatiner .what__content p span{
    color: #f71735;
}

.what .what__conatiner .what__content p i{
    transform: translateY(-20px);
    font-size: 20px;
}

.what .what__conatiner .what__content .what__colum{
    width: 1px;
    height: 50px;
    background-color: #f71735;
    display: flex;
    margin: 0 auto;
}

.what .what__conatiner .what__content h5{
    font-size: 20px;
    margin-top: 20px;
}

.what .what__conatiner .what__content .deading{
    font-size: 15px;
    color: #8f8d8d;
    margin: 0;
}


/* what */

/* intagram */

.intagram .intgram__content{
    display: flex;
    flex-wrap: wrap;
}

.intagram .intgram__content .intagram__img .img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.intagram .intgram__content .intagram__img img{
    display: block;
}

.intagram .intgram__content .intagram__img{
    flex: 0 0 12.5%;
    max-width: 12.5%;
    position: relative;
    z-index: 0;
}

.intagram .intgram__content .intagram__img .intgram__backgroud{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    opacity: 0;
    transition: all 0.3s linear;
}

.intagram .intgram__content .intagram__img:hover .intgram__backgroud{
    opacity: 1;
}

.intagram .intgram__content .intagram__img i{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s linear;
}

.intagram .intgram__content .intagram__img:hover i{
    top: 50%;
    opacity: 1;
}

.header .header__container .header__content .header__tablet{
    display: none;
}

/* intagram */

/* footer */
.footer{
    padding: 48px 0;
    background-color: #000;
    color: #fff;
}

.footer .footer__container .footer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 10px;
    flex-wrap: wrap;
}

.flex{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__container .footer__top .footer__text h3{
    font-size: 30px;
}

.footer .footer__container .footer__top .footer__text p{
    color: #8f8d8d;
    font-weight: 500;
}

.footer .footer__container .footer__top .footer__input{
    display: flex;
}

.footer .footer__container .footer__top .footer__input input{
    height: 55px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}

.footer .footer__container .footer__top .footer__input button{
    border: none;
    outline: none;
    background-color: #f71735;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 17px;
    color: #fff;
    padding: 16px 20px;
}

.footer .footer__container .footer__bootom{
    display: flex;
    padding: 48px 0;
    border-bottom: 1px solid rgb(104, 103, 103);
    flex-wrap: wrap;
}

.footer .footer__container .footer__bootom .with{
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
}

.footer .footer__container .footer__bootom .padding {
    padding-right: 100px;
}

.footer .footer__container .footer__bootom .footer__content h4{
    font-size: 25px;
    margin-bottom: 30px;
}

.footer .footer__container .footer__bootom .footer__content .des{
    color: #8f8d8d;
    line-height: 30px;
    font-weight: 600;
}

.footer .footer__container .footer__bootom .footer__content .footer__icon{
    margin-top: 30px;
}

.footer .footer__container .footer__bootom .footer__content .footer__icon i{
    color: #f71735;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}















/* footer */