.container{
    max-width: 350px;
}

.header .header__container .header__content a h1{
    font-size: 25px;
}

.header .header__container .header__content .header__tablet i{
    font-size: 20px;
}

.banner .banner__container .banner__content h3{
    font-size: 30px;
}

.banner .banner__container{
    max-width: 350px;
}

.image .image__container .image__all{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.image .image__container .image__all .img{
    height: 350px;
}

.footer .footer__container .footer__bootom .padding{
    padding: 0px;
}

.footer .footer__container .footer__bootom .with{
    flex: 0 0 50%;
    max-width: 50%;
}

.flex {
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__top .footer__text{
    margin-bottom: 30px;
}

.footer .footer__container .footer__top .footer__input{
    flex-wrap: wrap;
}

.footer .footer__container .footer__top .footer__input input{
    border-radius: 10px;
}

.footer .footer__container .footer__top .footer__input button{
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
}