.container{
    max-width: 700px;
}

.header .header__container .header__content .header__menu{
    display: none;
}

.header .header__container .header__content .header__icon{
    display: none;
}

.header .header__container .header__content .header__tablet{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__tablet i{
    font-size: 25px;
}

.header .header__container .header__content .header__tablet .fas{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f71735 ;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
}

.image .image__container .image__all .img{
    object-fit: cover;
    width: 100%;
    height: 213.3px;
    display: block;
}

.what .what__conatiner .what__content{
    max-width: 100%;
}

.intagram .intgram__content .intagram__img .img{
    height: 96px;
}

.footer .footer__container .footer__bootom .flex{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.footer .footer__container .footer__bootom .with {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

